//Colors
$dark-blue: #293264;
$gray-blue: #4D5B9E;
$light-blue: #D6DBF5;
$lightest-blue: #DBDEF0;
$light-gray: #F5F7FB;
$gray: #DEEBF8;
$lime-yellow: #FFFAD1;

//Fonts
$inter: 'Inter', sans-serif;
$karla: 'Karla', sans-serif;
