@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #F5F7FB;
  height: 100vh;
  background-image: url("http://localhost:3000/images/blobs-yellow.png"), url("http://localhost:3000/images/blobs-blue.png");
  background-repeat: no-repeat, no-repeat;
  background-position-x: right, left;
  background-position-y: top, bottom;
}

.quiz--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.game--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.quiz--checkbutton {
  border: none;
  width: 12.0625rem;
  height: 3.25rem;
  border-radius: 16px;
  background-color: #4D5B9E;
  color: #F5F7FB;
  cursor: pointer;
  margin-top: 16px;
}

.intro--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.intro--title {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #4D5B9E;
}

.intro--description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #4D5B9E;
}

.intro--button {
  border: none;
  width: 12.0625rem;
  height: 3.25rem;
  border-radius: 16px;
  background-color: #4D5B9E;
  color: #F5F7FB;
  cursor: pointer;
}

.card--wrapper {
  padding: 16px;
}

.card--question {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
}

.card--answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.card--button {
  min-width: 65px;
  min-height: 20px;
  background-color: transparent;
  border-radius: 8px;
  color: #293264;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  border: 0.5px solid #293264;
  cursor: pointer;
}

.card--line {
  width: 100%;
  background-color: #DBDEF0;
  margin-top: 32px;
  border-width: 0;
  height: 2px;
}
